.page {
    display: flex;
    flex-direction: row;
    overflow: auto;

    .content-container {
        flex: 1;

        width: calc(100% - 270px);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 270px;

        height: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;

        .divider {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;

            width: 100%;
            hr {
                width: calc(100% - 50px);
                margin: 0;
                padding: 0;
                background-color: #889885;
                border-bottom: solid 2px #889885;
            }
        }
    }
}